@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply body1 font-regular text-black;
    @apply min-h-full;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  /* When the modals are closed, it is not rendered in the DOM */
  body:has([role='dialog']) {
    overflow: hidden;
  }

  #root {
    @apply flex min-h-screen flex-col;
  }
}

@layer components {
  .largeTitle {
    @apply font-inter text-size-largeTitle font-bold leading-largeTitle;
  }
  .title1 {
    @apply font-inter text-size-title1 font-bold leading-title1;
  }
  .title2 {
    @apply font-inter text-size-title2 font-bold leading-title2;
  }
  .title3 {
    @apply font-inter text-size-title3 font-semibold leading-title3;
  }
  .headline {
    @apply font-inter text-size-headline font-semibold leading-headline;
  }
  .subHeadline {
    @apply font-inter text-size-subHeadline font-bold leading-subHeadline;
  }
  .body1 {
    @apply font-inter text-size-body1 leading-body1;
  }
  .body2 {
    @apply font-inter text-size-body2 leading-body2;
  }
  .footNote {
    @apply font-inter text-size-footNote leading-footNote;
  }
  .overlineText {
    @apply font-inter text-size-overline uppercase leading-overline tracking-[.12em];
    text-decoration: none !important;
  }
  .caption {
    @apply font-inter text-size-caption leading-caption;
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0); /* IE6, IE7 */
    clip-path: inset(100%);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .invisible {
    visibility: hidden;
  }

  .pretty-scrollbar-v::-webkit-scrollbar {
    width: 6px;
  }
  .pretty-scrollbar-h::-webkit-scrollbar {
    height: 6px;
  }

  .pretty-scrollbar-v,
  .pretty-scrollbar-h {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.400') transparent;
  }

  .pretty-scrollbar-v::-webkit-scrollbar-thumb,
  .pretty-scrollbar-h::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: theme('colors.gray.400');
  }

  .pretty-scrollbar-v::-webkit-scrollbar-track,
  .pretty-scrollbar-h::-webkit-scrollbar-track {
    background: transparent;
  }
}
